<h1>REGISTRO</h1>
<div>
    <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
       
        <div>
            <label >nombre</label>
            <input type="text" name="name" id="name" [(ngModel)]="name" required>
        </div>
        
        <div>
            <label >nick</label>
            <input type="text" name="nickname" id="nickname" [(ngModel)]="nickname"  required>
            <div *ngIf="minNick" class="error">
                El campo "nick" debe tener al menos 5 caracteres.
              </div>
        </div>
       
        <div>
            <label for="nombreUsuario">Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="email" required>
        </div>
        <div>
            <label >contraseña</label>
            <input type="password" name="password" id="password" [(ngModel)]="password" required>
        </div>
<!--         <div>
            <label >contraseña</label>
            <input type="password" name="confirmationPassword" id="confirmationPassword" [(ngModel)]="confirmationPassword" required>
        </div> -->
        <div>
            <button type="submit" [disabled]="!f.valid">registrarse</button>
        </div>
    </form>
</div>