<div class="toolbar" role="banner">
    <a routerLink="" routerLinkActive="router-link-active">home</a>

    <div class="spacer"></div>

    <a routerLink="/perfil" routerLinkActive="router-link-active">perfil</a>

    <div class="spacer"></div>


    <!-- <li *ngIf="!isLogged"> -->
        <a routerLink='/login'> iniciar sesion</a>
    <!-- </li> -->

    <!-- <li *ngIf="isLogged"> -->
        <button  (click)="logOut()"> cerrar sesion</button>
    <!-- </li> -->
    <!-- <li> -->
        <div class="spacer"></div>
    <!-- </li> -->
    <!-- <li *ngIf="!isLogged"> -->
        <a routerLink='/registro'>crear cuenta</a>
    <!-- </li> -->

</div>