<nav class="bg-b1 t-t1">
    <div class="nav-wrapper">
      <ul class="nav">
        <li> <a routerLink="" routerLinkActive="active"><i class="fa-solid fa-house t-t1 icon"></i></a></li>
       <li>  <a routerLink="/perfil" routerLinkActive="active"><i class="fa-solid fa-user t-t1 icon"></i></a> </li>
       <li>  <a  routerLink='/my-teams' routerLinkActive="active"> <i class="fa-solid fa-people-group t-t1 icon"></i></a> </li>



      
      
       <li> <a routerLink='notifications'> <i class="fa-solid fa-bell t-t1 icon"></i></a> </li>

      </ul>
    </div>
  </nav>

 