<h1>MIS EQUIPOS</h1>




<table>
    <tr>
        <th>
            nombre 
        </th>
        <th>
            ciudad
        </th>
        <th>
            puntaje
        </th>
        <th>
            nivel
        </th>
        <th></th>
    </tr>
   
    <tr *ngFor="let team of teams;" (click)="viewMyTeam(team.id)" >
        <td>
            {{team.name}}
        </td>
        <td>
            {{team.city}}
        </td>
        <td>
            {{team.score}}
        </td>
        <td>
            {{team.teamLevel}}
        </td>
    </tr>

</table>

<a routerLink='/new-team' class="btn-floating btn-small t-s7"><i class="material-icons">add</i></a>
