<p>perfil works!</p>

nick =   <br> {{perfil.nick }}  <br>  <br> 



athleteLevel =   <br> {{perfil.athleteLevel  }}  <br>  <br> 
birthDate =   <br> {{perfil.birthDate  }}  <br>  <br> 
city =   <br> {{perfil.city  }}  <br>  <br> 
height =   <br> {{perfil.height  }}  <br>  <br> 
mail =   <br> {{perfil.mail  }}  <br>  <br> 
name =   <br> {{perfil.name  }}  <br>  <br> 
nick  =   <br> {{perfil.nick  }}  <br>  <br> 
phone =   <br> {{perfil.phone  }}  <br>  <br> 
position =   <br> {{perfil.position  }}  <br>  <br> 
profilePhoto =   <br> {{perfil.profilePhoto  }}  <br>  <br> 
skillfulFoot =   <br> {{perfil.skillfulFoot  }}  <br>  <br> 
weight =   <br> {{perfil.weight  }}  <br>  <br>     





<a routerLink='/new-team'> nuevo equipo</a>  <br> 
<a routerLink='/my-teams'> mis equipos</a>
